STRIPE_SECRET_KEY=your_live_secret_key_here
NEXT_PUBLIC_STRIPE_PUB_KEY=your_live_public_key_here
STRIPE_WEBHOOK_SECRET=your_live_webhook_secret_here

STRIPE_SECRET_KEY_TEST=your_test_secret_key_here
NEXT_PUBLIC_STRIPE_PUB_KEY_TEST=your_test_public_key_here
STRIPE_WEBHOOK_SECRET_TEST=your_test_webhook_secret_here